<section class="layout-wrap">
    <div class="layout-title">
        <span><%= page.title %></span>
    </div>
    <div class="layout-wrap-inner tag-cloud">
        <% if(site.tags.length) { %>
            <%- tagcloud({min_font: 16, max_font: 30}) %>
        <% } %>
    </div>
</section>